In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
gdp_df = pd.read_csv('../data/gdp_percapita.csv')

In [3]:
gdp_df

     Country or Area  Year        Value  Value Footnotes
0        Afghanistan  2020  1970.560169              NaN
1        Afghanistan  2019  2065.036235              NaN
2        Afghanistan  2018  2033.804389              NaN
3        Afghanistan  2017  2058.400221              NaN
4        Afghanistan  2016  2057.067978              NaN
...              ...   ...          ...              ...
7171        Zimbabwe  1994  2603.927369              NaN
7172        Zimbabwe  1993  2420.092791              NaN
7173        Zimbabwe  1992  2437.152908              NaN
7174        Zimbabwe  1991  2733.696626              NaN
7175        Zimbabwe  1990  2652.129209              NaN

[7176 rows x 4 columns]

In [4]:
print(gdp_df.dtypes)

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

In [5]:
print(gdp_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7176 entries, 0 to 7175
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  7176 non-null   object
 1   Year             7176 non-null   int64
 2   Value            7176 non-null   float64
 3   Value Footnotes  0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 224.4+ KB
None

# a.) There are 7176 rows and 4 columns. 
# b.) The data type for Country/Area: object, Year: int, Value:float, Value Footnotes: float.

In [6]:
gdp_df = gdp_df.drop(columns = ['Value Footnotes'])

In [7]:
gdp_df.columns

Index(['Country or Area', 'Year', 'Value'], dtype='object')

In [8]:
gdp_df = gdp_df.rename(columns = {'Country or Area': 'Country', 'Value': 'GDP_Per_Capita'})
gdp_df.head()

       Country  Year  GDP_Per_Capita
0  Afghanistan  2020     1970.560169
1  Afghanistan  2019     2065.036235
2  Afghanistan  2018     2033.804389
3  Afghanistan  2017     2058.400221
4  Afghanistan  2016     2057.067978

In [9]:
counts = gdp_df.groupby('Country').count()

In [10]:
years = (counts > 3).sum(axis=1)

In [11]:
missing_data = years[years < gdp_df['Year'].nunique()]

In [12]:
all_data = (years == gdp_df['Year'].nunique()).sum()
print("Countries with missing data for all years:")
print(missing_data)

Countries with missing data for all years:
Country
Afghanistan                    2
Africa Eastern and Southern    2
Africa Western and Central     2
Albania                        2
Algeria                        2
                              ..
Vietnam                        2
West Bank and Gaza             2
World                          2
Zambia                         2
Zimbabwe                       2
Length: 242, dtype: int64